# Ignore files.
bin
obj

# Generated solution and project files
*.userprefs
*.sln
*.csproj
*.nuspec
*.nupkg
repositories.config
StyleCop.Cache
*.csproj.user
*.suo
*.speccache

# Ignore publishing files
*.tar.lzma

# Ignore ThirdParty
/Jitter
/Newtonsoft.Json
/protobuf-net
/Binaries
/MonoGame
/Ninject
/Ninject.Extensions.Factory
/Ninject.Extensions.Interception
/NDesk.Options
/xunit
/AStarPathFinder
Prototest/
Protoinject/
level_editor.xsd

Protogame.combined.xml
