# Ignore files.
bin
obj

# Generated solution and project files
*.userprefs
*.sln
*.csproj
*.nuspec
*.nupkg
repositories.config
StyleCop.Cache
*.csproj.user
*.suo
*.speccache

# Ignore publishing files
*.tar.lzma

# Ignore ThirdParty
/ThirdParty/Jitter
/ThirdParty/Cloo
/ThirdParty/Newtonsoft.Json
/ThirdParty/protobuf-net
/ThirdParty/Binaries
/ThirdParty/MonoGame
/ThirdParty/Ninject
/ThirdParty/NDesk.Options
/ThirdParty/xunit
