[submodule "ThirdParty/MonoGame"]
	path = ThirdParty/MonoGame
	url = git://github.com/hach-que/MonoGame.git
[submodule "ThirdParty/Binaries"]
	path = ThirdParty/Binaries
	url = https://code.redpointsoftware.com.au/diffusion/PTPB/
[submodule "ThirdParty/Ninject"]
	path = ThirdParty/Ninject
	url = https://github.com/hach-que/ninject.git
[submodule "ThirdParty/protobuf-net"]
	path = ThirdParty/protobuf-net
	url = https://github.com/hach-que/protobuf-net.git
[submodule "ThirdParty/Newtonsoft.Json"]
	path = ThirdParty/Newtonsoft.Json
	url = https://github.com/hach-que/Newtonsoft.Json.git
[submodule "ThirdParty/Jitter"]
	path = ThirdParty/Jitter
	url = git://github.com/hach-que/Jitter.git
[submodule "ThirdParty/Cloo"]
	path = ThirdParty/Cloo
	url = git://github.com/hach-que/Cloo.git
